[submodule "Code/Lib/AppFEATHER"]
	path = Code/Lib/AppFEATHER
	url = https://github.com/prheenan/AppFEATHER.git
[submodule "Code/Lib/UtilForce"]
	path = Code/Lib/UtilForce
	url = https://github.com/prheenan/UtilForce.git
[submodule "Code/Lib/UtilGeneral"]
	path = Code/Lib/UtilGeneral
	url = https://github.com/prheenan/UtilGeneral.git
[submodule "Code/Lib/AppWLC"]
	path = Code/Lib/AppWLC
	url = https://github.com/prheenan/AppWLC.git
[submodule "Code/Lib/UtilIgorPro"]
	path = Code/Lib/UtilIgorPro
	url = https://github.com/prheenan/UtilIgorPro.git
[submodule "Code/Lib/AppIWT"]
	path = Code/Lib/AppIWT
	url = https://github.com/prheenan/AppIWT.git
[submodule "Code/Lib/AppWHAM"]
	path = Code/Lib/AppWHAM
	url = https://github.com/prheenan/AppWHAM.git
